<!DOCTYPE html>
<html>
  <head>
    <title>Welcome!</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- Source for CSS: https://getbootstrap.com/docs/4.0/getting-started/introduction/ -->
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col"></div>
        <div class="col-5">
          <h1>Welcome!</h1>

          <p>
            Please enter your email and password below in order to display your Auth0 JWT and Auth0
            user ID. If you have not already signed up, then an account will be made for you using
            the email and password entered. Your new JWT and user ID will then be displayed. If you
            have already signed up, then you will be logged in and shown your JWT and user ID.
          </p>

          <form method="post" action="/users">
            <input type="text" name="username" placeholder="Username" />
            <input type="password" name="password" placeholder="Password" />
            <input type="submit" value="Submit" />
          </form>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </body>
</html>
