<!DOCTYPE html>
<html>
  <head>
    <title>User Information</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- Source for CSS: https://getbootstrap.com/docs/4.0/getting-started/introduction/ -->
  </head>
  <body>
    <div class="container text-wrap text-break">
      <div class="row justify-content-center">
        <div class="col"></div>
        <div class="col-5">
          <h1>User Token</h1>

          <p>User ID: <%= auth0_id %></p>

          <p>The following is your JWT:</p>

          <%= token %>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </body>
</html>
